<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans  http://www.springframework.org/schema/beans/spring-beans.xsd
     http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context.xsd
     http://www.springframework.org/schema/aop  http://www.springframework.org/schema/aop/spring-aop.xsd
     http://www.springframework.org/schema/tx  http://www.springframework.org/schema/tx/spring-tx.xsd">
    
    <!-- 配置获取spring上下文工具类 -->
    <bean id="springContextHelper" class="com.ltchen.ssm.demo.util.SpringContextHelper" />
    
    <!-- 自动扫描，依赖注入service的实现类 -->
    <context:component-scan base-package="com.ltchen.ssm.demo.service.impl" />
    
    <!-- 加载jdbc.properites配置文件 --> 
    <context:property-placeholder location="classpath:jdbc.properties" />
    
    <!-- 配置数据库连接池druid --> 
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
	  <property name="driverClassName" value="${jdbc.driverClassName}" />
	  <property name="url" value="${jdbc.url}" />
	  <property name="username" value="${jdbc.username}" />
	  <property name="password" value="${jdbc.password}" />
	
	  <property name="filters" value="stat" />
	
	  <property name="maxActive" value="20" />
	  <property name="initialSize" value="1" />
	  <property name="maxWait" value="60000" />
	  <property name="minIdle" value="1" />
	
	  <property name="timeBetweenEvictionRunsMillis" value="60000" />
	  <property name="minEvictableIdleTimeMillis" value="300000" />
	
	  <property name = "validationQuery" value = "select 'x'" />
	  <property name="testWhileIdle" value="true" />
	  <property name="testOnBorrow" value="false" />
	  <property name="testOnReturn" value="false" />
	
	  <property name="poolPreparedStatements" value="true" />
	  <property name="maxOpenPreparedStatements" value="20" />
	 </bean>

    <!-- spring和MyBatis完美整合，不需要mybatis的配置映射文件 --> 
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean"> 
        <property name="dataSource" ref="dataSource" /> 
        <!-- 自动扫描mapper.xml文件 --> 
        <property name="mapperLocations" value="classpath:mapper/*.xml" /> 
    </bean> 
    <!-- DAO接口所在包名，Spring会自动扫描并创建各自接口的动态代理类 --> 
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer"> 
        <property name="basePackage" value="com.ltchen.ssm.demo.dao" /> 
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" /> 
    </bean> 
    <!-- 事务管理器 --> 
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager"> 
        <property name="dataSource" ref="dataSource" /> 
    </bean>
</beans>